@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff") format("woff"), url("../fonts/cuprum.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumbold.woff") format("woff"), url("../fonts/cuprumbold.woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumitalic.woff") format("woff"), url("../fonts/cuprumitalic.woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumbolditalic.woff") format("woff"), url("../fonts/cuprumbolditalic.woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2");
	font-weight: bold;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	min-width: 960px;
	font-family: "Cuprum", 'Tahoma', sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.visibility-hidden:not(:focus):not(:active),
input[type="checkbox"].visibility-hidden,
input[type="radio"].visibility-hidden
{
	position:absolute;
	width:1px;
	height:1px;
	margin:-1px;
	border:0;
	padding:0;
	white-space:nowrap;
	clip-path: inset(100%);
	clip:rect( 0 0 0 0 );
	overflow:hidden;
}

.header-page {
	min-height: 320px;
	background-color: #f3f7f8;
}

.header-top {
	background-color: #293449;
}

.header-top-wrapper {
	display: flex;
	max-height: 42px;
	align-items: center;
}

.header-top-logo {
	display: inline-block;
	width: 165px;
	padding: 15px 0 7px 55px;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	color: #fff;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.header-top-logo:hover {
	background-color: #ca2c37;
}

.header-top-logo:active {
	background-color: #ba2732;
}

.header-form {
	position: relative;
}

.search-input:hover {
	background-color: #212a3a;
}

.search-input:focus {
	opacity: 1;
	background: #FFFFFF url("../img/icon-search-r.png") no-repeat;
	background-position-y: 10px;
	background-position-x: 16px;
}

.header-top a+span {
	text-align: left;
	background-image: url("img/icon-search.svg");
}

.header-top a {
	color: #ffffff;
	text-decoration: none;
}

.header-top label {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
}

.search-input {
	position: relative;
	width: 274px;
	padding: 12px 0 12px 49px;
	font-size: 17px;
	line-height: 18px;
	/* color: #fff; */
	background-color: #293449;
	border: none;
}

.search-label::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	z-index: 20;
	width: 20px;
	height: 20px;
	background-position: -106px -1px;
	background: url("../img/icon-search.svg") no-repeat;
	opacity: 0.3;
}

.search-label:hover:before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	z-index: 20;
	width: 20px;
	height: 20px;
	background-position: -106px -1px;
	background: url("../img/icon-search.svg") no-repeat;
	opacity: 1.0;
}

.form-sub {
	display: none;
}

.header-top-favorites {
	padding-left: 40px;
	width: 110px;
}

.header-top-cart-cat,
.header-top-cart {
	padding-left: 45px;
	width: 100px;
}

.header-top-order {
	padding-left: 20px;
	padding-right: 22px;
	padding-top: 12px;
	padding-bottom: 13px;
}

.header-top span:active,
.header-top-favorites:active,
.header-top-cart-cat:active,
.header-top-cart:active {
	color: rgba(255, 255, 255, 0.6);
}

.header-top-order {
	background-color: #63a63e;
}

.header-top-order:hover {
	background-color: #5fbb2d;
}

.header-top-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5)
}

.header-middle-bottom-wrapper {
	padding-top: 47px;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.header-txt {
	margin: 0;
	width: 196px;
	margin-top: 2px;
}

.header-italic-text {
	line-height: 23px;
	font-size: 16px;
	font-style: italic;
	color: #ee3643;
}

.header-contacts {
	display: flex;
	flex-direction: column;
	padding-left: 73px;
}

.header-contacts a {
	position: relative;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	padding: 9px 51px 10px 70px;
	color: #ee3643;
	text-decoration: none;
	border: 3px solid white;
}

.header-contacts a::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
	left: 11px;
	top: 9px;
	background-image: url(../img/icon-phone.svg);
}

.header-contacts p {
	margin: 3px;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color: #32425c;
}

.header-user-links a {
	position: relative;
	display: inline-block;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
}

.header-user-links-sign::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 17px;
	left: 14px;
	bottom: 15px;
	background: url("../img/icon-login.svg") no-repeat 0 0;
}

.header-user-links-sign:hover:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 17px;
	left: 14px;
	bottom: 15px;
	background: url("../img/icon-login-h.png") no-repeat 0 0;
}

.header-user-links-sign:active:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 17px;
	left: 14px;
	bottom: 15px;
	background: url("../img/icon-login.svg") no-repeat 0 0;
	opacity: 0, 2;
}

.header-user-links-sign:hover {
	color: #ee3643;
}

.header-user-links-sign:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-user-links-reg:hover {
	color: #ee3643;
}

.header-user-links-reg:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-user-options-cat a,
.header-user-options a {
	color: #000000;
	background-color: #ffffff;
}

.header-user-options-cat a {
	width: 186px;
	font-size: 21px;
	line-height: 21px;
}

.header-user-options-cat a:active,
.header-user-options a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-user-buttons li {
	display: inline;
	list-style: none;
}

.header-user-buttons a {
	line-height: 18px;
	font-size: 16px;
	color: #32425c;
	text-decoration: underline;
	background-color: transparent;
}

.header-user-buttons a:hover {
	color: #ee3643;
}

.header-user-buttons a:active {
	color: rgba(50, 66, 92, 0.3);
}

.header-navigation-links
/* временное определение кнопок меню */

{
	padding: 0;
	margin: 0;
	display: flex;
	min-height: 60px;
	align-items: center;
	line-height: 17px;
	background-color: #32425c;
	box-shadow: inset 0px -5px 0 0 #293449;
	list-style-type: none;
}

.header-navigation-links a:hover,
.header-navigation-links a:focus {
	background-color: #293449;
}

.header-navigation-links a:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #293449;
}

.header-navigation-links a {
	display: block;
	padding-top: 20px;
	padding-bottom: 22px;
	color: #ffffff;
}

.nav-main {
	padding-left: 49px;
	padding-right: 33px;
}

.nav-company {
	padding-left: 33px;
	padding-right: 30px;
}

.nav-news,
.nav-cat {
	padding-left: 31px;
	padding-right: 28px;
}

.nav-special {
	padding-left: 29px;
	padding-right: 31px;
}

.nav-shipping {
	padding-left: 31px;
	padding-right: 32px;
}

.nav-contacts {
	padding-left: 32px;
	padding-right: 55px;
}

.footer-top {
	background-color: #32425c;
}

.main-breadcrumbs li {
	list-style: none;
}

.main-breadcrumbs a {
	text-transform: uppercase;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
}

.main-catalog-full h2 {
	text-transform: uppercase;
	line-height: 30px;
	font-size: 30px;
	background-color: #f2f6f8;
}

.main-searching-menu {
	font-family: "PT Sans", 'Tahoma', sans-serif;
}

.main-searching-menu b {
	text-transform: uppercase;
	line-height: 30px;
	font-weight: bold;
}

.main-searching-menu label {
	text-transform: uppercase;
	font-weight: normal;
	line-height: 20px;
	font-size: 15px;
}

.main-searching-menu-submit {
	display: block;
	width: 141px;
	margin-top: 54px;
	padding: 11px 38px 8px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	text-transform: uppercase;
	color: #000;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.main-products {
	font-family: "PT Sans", 'Tahoma', sans-serif;
	list-style: none;
}

.main-products li:hover
/* заготовка под анимацию */

{
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-products h3 {
	line-height: 20px;
	font-weight: 700;
	font-size: 18px;
}

.main-products del {
	color: #999999;
}

.main-products a {
	color: #ffffff;
	background-color: #ee3643;
}

.main-contacts p {
	width: 182px;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.main-contacts-left:hover {
	background-color: #ca2c37;
}

.main-contacts-left:active {
	background-color: #ba2732;
}

.main-contacts h2,
.main-company h2 {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
}

.main-company-about-shopping,
.main-company-additionals{
	font-family: "PT Sans", 'Tahoma', sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-top: 25px;
}


.main-company-additionals{
	margin-top: 23px;
}

.main-company li {
	position: relative;
	margin-top: 20px;
	font-size: 18px;
	line-height: 20px;
}

.main-contacts-left,
.main-company a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
}

.main-company a:hover {
	background-color: #ca2c37;
}

.main-company a:active {
	background-color: #ba2732;
}

.footer-contacts span {
	display: block;
	width: 220px;
	padding-top: 25px;
	padding-bottom: 27px;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-contacts p {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}

.footer-navigation-links {
	list-style-type: none;
}

.footer-navigation-links a {
	line-height: 24px;
	font-size: 18px;
	color: white;
}

.footer-navigation-links a:hover {
	text-decoration: underline;
}

.footer-navigation-links a:active {
	text-decoration: none;
	color: rgba(241, 245, 247, 0.5);
}

.footer-navigation-goods {
	list-style-type: none;
}

.footer-navigation-goods a {
	line-height: 24px;
	font-size: 18px;
	color: #ffd180;
	text-decoration: none;
}

.footer-production-end a:hover,
.footer-navigation-goods a:hover,
.footer-production a:hover {
	text-decoration: underline;
}

.footer-navigation-goods a:active {
	text-decoration: none;
	color: rgba(255, 209, 128, 0.5)
}

.footer-socialmedia {
	list-style: none;
}

.footer-copyright p {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-rights {
	margin-top: -17px;
}

.footer-production-end dt,
.footer-production dt {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-production-end a,
.footer-production a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-production-end a:active,
.footer-production a:active {
	color: #ee3643;
}

.footer-socialmedia a {
	background-color: #212a3a;
}

.footer-socialmedia a:hover {
	background-color: #ee3643;
}

.footer-top {
	background-color: #32425c;
}

.footer-bottom {
	background-color: #293449;
}

.header-user-links {
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding-left: 69px;
	list-style-type: none;
}

.header-user-links-sign {
	margin-right: 10px;
	padding: 12px 26px 12px 46px;
}

.header-user-links-reg {
	padding: 12px 25px 12px 23px;
}

.header-navigation {
	padding-top: 35px;
	margin: auto;
}

.header-user-options-cat {
	padding-left: 51px;
	width: 299px;
	display: flex;
	flex-direction: column;
}

.header-cat-username {
	position: relative;
	padding-left: 47px;
	padding-right: 69px;
	padding-top: 11px;
	padding-bottom: 11px;
}

.header-cat-username::before {
	content: "";
	position: absolute;
	left: 13px;
	width: 20px;
	height: 18px;
	background: url("../img/icon-user.svg");
	opacity: 0, 2;
}

.header-cat-username:hover:before {
	background: url("../img/icon-user-h.svg");
}

.header-cat-username::after {
	content: "";
	position: absolute;
	left: 268px;
	top: 13px;
	width: 20px;
	height: 17px;
	background: url("../img/icon-logout.svg");
	opacity: 0, 2;
}

.header-cat-username:hover:after {
	background: url("../img/icon-logout-h.svg");
}

.header-orders {
	position: relative;
}

.header-orders::after {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	background: #32425c;
	border-radius: 50px;
	left: 89px;
	top: 8px;
}

.header-user-buttons {
	margin: 0;
	padding-top: 9px;
	padding-left: 17px;
}

.header-orders {
	padding-right: 28px;
}

.main-info {
	padding-top: 53px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 88px;
}

.main-company {
	width: 519px;
}

.main-company ul {
	margin-top:22px;
	list-style-type: none;
	padding-left: 35px;
}

.main-company li::before {
	content: "";
	position: absolute;
	width: 25px;
	left: -36px;
	top: 10px;
	height: 2px;
	background-color: #ee3643;
}

.main-company a {
	margin-top: 19px;
}

.main-company a,
.main-contacts-left {
	display: inline-block;
	vertical-align: top;
	width: auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 11px;
	padding-bottom: 8px;
}

.main-contacts {
	width: 300px;
}

.main-contacts img {
	margin-top: 19px;
}

.main-contacts-left {
	margin-top: 35px;
	width: 220px;
	text-align: center;
}

.footer-top-wrapper {
	display: flex;
	padding-bottom: 32px;
	justify-content: space-between;
}

.footer-contacts p {
	width: 322px;
    margin-top: 26px;
    padding-left: 4px;
}

.footer-navigation-links {
	display: flex;
	margin-top: 37px;
	margin-left: auto;
	justify-content: flex-end;
}

.f-news {
	margin-left: 58px;
}

.f-catalog {
	margin-left: 60px;
}

.f-shipping {
	margin-left: 60px;
}

.f-contacts {
	margin-left: 58px;
}

.footer-navigation-goods {
	margin-top: 34px;
	display: flex;
	justify-content: flex-end;
}

.f-tech {
	margin-left: 60px;
}

.f-tools {
	margin-left: 59px;
}

.f-specials {
	margin-left: 60px;
}

.footer-bottom-wrapper {
	display: flex;
	padding-bottom: 39px;
	padding-top: 21px;
}

.footer-media-production {
	display: flex;
	padding-left: 77px;
}

.footer-socialmedia {
	margin-top: 13px;
	display: flex;
}

.footer-socialmedia a {
	display: block;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}

.footer-production-end,
.footer-production {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-production {
	margin-top: 16px;
	padding-left: 83px;
}

.footer-production-end {
	padding-left: 10px;
}

.footer-production-end dt {
	padding-left: 27px;
}

.footer-production-wrapper {
	display: flex;
}

.main-catalog-full-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main-breadcrumbs {
	position: relative;
    width: 100%;
    display: flex;
    padding-left: 41px;
    margin-top: 20px;
}

.breadcrumbs-cat {
	margin-left: 12px;
	margin-right: 16px;
}

.breadcrumbs-tools {
	margin-left: 26px;
}

.breadcrumbs-per {
	margin-left: 43px;
}

.main-catalog-full-header {
	margin-top: 3px;
	width: 100%;
	padding-left: 30px;
	padding-top: 31px;
	padding-left: 28px;
	padding-bottom: 28px;
	font-weight: normal;
}

.main-searching-menu form {
	display: flex;
	flex-direction: column;
}

.main-products li {
	width: 218px;
	height: 347px;
}

.main-catalog-container {
	display: flex;
}

.clearfix-flex {
	width: 100%;
}

.main-sections-of-goods {
	margin-top: 59px;
	margin-bottom: 53px;
	display: flex;
	justify-content: space-between;
}

.main-sections-of-goods a {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #ffffff;
}

.main-sections-of-goods a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.main-sections-of-goods a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.main-sections-of-goods h3 {
	padding-left: 23px;
	color: #ffffff;
	line-height: 30px;
	font-size: 24px;
}

.main-goods-left div,
.main-goods-right div {
	height: 123px;
}

.main-goods-right {
	width: 300px;
}

.main-goods-left h3,
.main-goods-right h3 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 24px;
}

.main-tech,
.main-discounts {
	margin-bottom: 20px;
}

.main-goods-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 620px;
}

.main-materials {
	background-color: #ffbf47;
}

.main-materials a {
	padding: 12px 24px 10px 23px;
	margin-left: 25px;
}

.main-tools {
	background-color: #3bbce3;
}

.main-tools a {
	padding: 12px 27px 10px 26px;
	margin-left: 25px;
}

.main-materials,
.main-tools {
	width: 300px;
}

.main-tech {
	background-color: #dc91d8;
}

.main-tech a {
	padding: 12px 31px 10px 30px;
	margin-left: 23px;
}

.main-discounts {
	background-color: #8ed78f;
}

.main-discounts a {
	padding: 14px 23px 11px 23px;
	margin-left: 23px;
}

.main-shipping {
	background-color: #ffc047;
}

.main-shipping a {
	padding: 12px 37px 11px 34px;
	margin-left: 25px;
}

.main-products-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin-bottom: 0px;
}

.main-products-list li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.items-c,
.items {
	position: relative;
	display: block;
	width: 218px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: bold;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	text-align: center;
}

.items-c {
	margin-right: 19px;
}

.goods-end {
	position: relative;
	display: block;
	width: 218px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: bold;
	font-family: "PT Sans", 'Tahoma', sans-serif;
	text-align: center;
}

.main-products-list li .flag {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}

.main-products-list li .flag-new {
	background: url("../img/new-flag-copy.png") no-repeat 0 0;
}

.actions {
	display: none;
}

.main-products-list li:hover .actions {
	display: block;
}

.actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	padding: 40px 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
}

.buy,
.bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.buy:hover {
	background-color: #5fbb2d;
	border-top-color: #5fbb2d;
	border-left-color: #5fbb2d;
	border-right-color: #5fbb2d;
}

.buy:active {
	background-color: #518534;
	border-color: #518534;
}

.bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.bookmark:hover {
	border-color: #32425c;
	color: #32425c;
}

.bookmark:active {
	border-color: #32425c;
	color: #32425c;
	opacity: 0.3;
}

.main-products-list img {
	width: 218px;
	height: 168px;
	max-width: 100%;
}

.main-name,
.main-products-list h3 {
	color: #000000;
	min-height: 40px;
	font-size: 18px;
	padding: 0 25px;
	margin-top: 6px;
	margin-bottom: 10px;
}

.discount {
	min-height: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #999;
	text-decoration: line-through;
}

.price {
	display: block;
	position: relative;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
}

.price:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-left-color: #ee3643;
}

.goods-end {
	margin-right: 0px;
}

.main-products-list p {
	margin: 0;
}

.main-makers-list {
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
}

.main-makers-list li {
	width: 220px;
	height: 145px;
	border: 1px solid #ccc;
}

.main-makers-second-row {
	margin-top: 20px;
}

.main-makers-list li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-makers-list li:active {
	opacity: 0.5;
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.maker-bosch {
	margin-left: 47px;
	margin-top: 53px;
}

.maker-makita {
	margin-left: 48px;
	margin-top: 50px;
}

.maker-de-walt {
	margin-left: 37px;
	margin-top: 50px;
}

.maker-interskol {
	margin-left: 9px;
	margin-top: 21px;
}

.maker-hitachi {
	margin-left: 28px;
	margin-top: 56px;
}

.maker-lg {
	margin-left: 48px;
	margin-top: 33px;
}

.maker-aeg {
	margin-left: 35px;
	margin-top: 18px;
}

.maker-metabo {
	margin-left: 10px;
	margin-top: 31px;
}

.main-services-shipping {
	background-color: #f4f7f9;
	padding-bottom: 84px;
}

.popular-makers-header,
.main-popular-header {
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
	background-color: #f9f5f0;
}

.popular-makers-header {
	height: 89px;
}

.main-popular-header h2 {
	margin-top: 29px;
	margin-bottom: 35px;
}

.popular-makers-header h2 {
	margin-top: 33px;
	margin-bottom: 30px;
}

.main-popular-header a {
	margin-top: 25px;
	padding-right: 55px;
	padding-left: 55px;
	padding-top: 11px;
	padding-bottom: 9px;
}

.popular-makers-header a,
.main-popular-header a {
	margin-right: 24px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align:middle;
	background-color: #ee3643;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	border-radius: 3px;
}

.popular-makers-header a {
	padding-left: 69px;
	padding-right: 70px;
	padding-top: 9px;
	padding-bottom: 11px;
	margin-top: 22px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.popular-makers-header h2,
.main-popular-header h2 {
	font-weight: normal;
	padding-left: 28px;
	line-height: 30px;
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-makers-header h2 {
	padding-left: 26px;
	margin-top: 27px;
}

.main-about-tools {
	background-color: #f4f7f9;
}

.main-about-tools-wrapper h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.main-about-tools-wrapper {
	padding-top: 43px;
	padding-bottom: 70px;
}

.main-about-tools-wrapper p {
	margin: 0px;
	line-height: 24px;
	font-size: 13px;
}

.main-services-wrapper {
	margin-top: 81px;
}

.main-services-wrapper h2{
	
}

.services-header {
	width: 398px;
    padding-top: 65px;
    padding-bottom: 52px;
}

.services-header h2 {
	margin-bottom:26px;
	margin-top: 0px;
	font-weight:normal;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.services-header p {
	font-size: 14px;
	line-height: 24px;
	margin: 0px;
}

.services-menu {
	display: flex;
	position: relative;
}

.slider-shipping::after,
.slider-guarantee::after,
.slider-credit::after {
	content: "";
	position: absolute;
}

.slider-shipping::after {
	width: 468px;
	height: 261px;
	left: 471px;
	top: 41px;
	background-image: url(../img/layer-131.png);
}

.slider-guarantee::after {
	width: 468px;
	height: 261px;
	left: 471px;
	top: 41px;
	background-image: url(../img/layer-130.png);
}

.slider-credit::after {
	width: 468px;
	height: 261px;
	left: 471px;
	top: 41px;
	background-image: url(../img/layer-119.png);
}

.s-shipping {
	padding-right: 123px;
	height: 46px;
}

.s-guarantee-b,
.s-credit-b,
.s-shipping-b {
	padding-top: 14px;
	padding-left: 22px;
}

.s-guarantee {
	padding-right: 121px;
	height: 46px;
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.s-credit,
.s-guarantee {
	background-color: #32425c;
}

.s-shipping-b,
.s-credit-b,
.s-guarantee-b {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}

.s-guarantee-b {
	padding-left: 23px;
	padding-top: 14px;
	color: #ffffff;
}

.s-shipping {
	background-color: #ffffff;
}

.s-shipping-b {
	padding-left: 23px;
	padding-top: 14px;
	color: #32425c;
	background-color: #ffffff;
}

.s-credit {
	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
	padding-right: 121px;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.s-credit-b {
	padding-left: 23px;
	padding-top: 14px;
	color: #ffffff;
	margin-right: 32px;
}

.s-guarantee-b:hover,
.s-credit-b:hover,
.s-guarantee:hover,
.s-credit:hover {
	background-color: #293449;
}

.services-menu ul {
	position: relative;
	width: 240px;
	padding: 0px;
}

.s-shipping:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 279px;
	left: 230px;
	top: -50px;
	background: url("../img/layer-118.png");
}

.services-menu li {
	display: block;
	height: 61px;
	box-shadow: inset 0px -1px 0 0 #33445a;
}

.services-menu button {
	display: block;
	font-size: 21px;
	line-height: 30px;
}

.services-menu button {
	border: 0;
	outline: 0;
}

.slider-shipping,
.slider-guarantee,
.slider-credit {
	width: 275px;
	text-align: left;
	margin-left: 80px;
	font-size: 13px;
	line-height: 24px;
}

.slider-shipping p{
	margin:0;
	font-size:14px;
}

.services-shipping-text{
	width: 300px;
}

.services-shipping-additionals{
	width: 180px;
}

.slider-guarantee,
.slider-credit {
	display: none;
}

.slider-shipping h2,
.slider-guarantee h2,
.slider-credit h2 {
	margin-top: 17px;
	text-transform: uppercase;
	font-size: 36px;
	font-weight:normal;
	line-height: 30px;
	margin-bottom: 30px;
	color:#32425c;
}

.slider-shipping h2
{
	margin-top:17px;
}

.main-perfs {
	display: none;
}

.main-perfs,
.main-drills {
	position: relative;
	margin-top: 20px;
	width: 620px;
	height: 266px;
}

.main-slider {
	margin-top: 20px;
	width: 620px;
	height: 266px;
}

.main-perfs {
	background-image: url("../img/layer-99-2.jpg");
}

.main-drills {
	background-image: url("../img/layer-99.jpg");
}

.main-drills::before,
.main-perfs::before {
	content: "";
	top: 112px;
	left: 26px;
	position: absolute;
	width: 22px;
	height: 40px;
	background: url("../img/icon-left.svg");
}

.main-drills::after,
.main-perfs::after {
	content: "";
	position: absolute;
	right: 20px;
	top: 115px;
	width: 22px;
	height: 40px;
	background: url("../img/icon-right.svg");
}

.main-perfs h3,
.main-drills h3 {
	padding-top: 24px;
	padding-bottom: 0px;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.main-perfs p,
.main-drills p {
	margin-top: 3px;
	padding-left: 24px;
	color: #ffffff;
}

.main-perfs a,
.main-drills a {
	display: inline-block;
	margin-top: 110px;
	margin-left: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 45px;
	background-color: #ee3643;
	border-radius: 3px;
}

.main-company a:hover,
.popular-makers-header a:hover,
.main-popular-header a:hover,
.main-perfs a:hover,
.main-drills a:hover {
	background-color: #ca2c37;
}

.main-company a:hover,
.popular-makers-header a:hover,
.main-popular-header a:hover,
.main-perfs a:active,
.main-drills a:active {
	background-color: #ba2732;
}

.header-top-cart-cat,
.header-top-cart,
.header-top-favorites,
.main-materials,
.main-tools,
.main-tech,
.main-discounts,
.main-shipping {
	position: relative;
}

.header-top-cart-cat::before,
.header-top-cart::before,
.header-top-favorites::before,
.main-materials::before,
.main-tools::before,
.main-tech::before,
.main-discounts::before,
.main-shipping::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 17px;
	background: red;
	opacity: 0.3;
}

.header-top-cart-cat {
	padding-top: 12px;
	padding-bottom: 13px;
	background-color: #ee3643;
}

.main-materials::before,
.main-tools::before,
.main-tech::before,
.main-discounts::before,
.main-shipping::before {
	opacity: 1;
}

.main-materials::after {
	content: "";
	position: absolute;
	width: 60px;
	height: 59px;
	background-color: black;
	left: 240px;
	bottom: 64px;
	background: url("../img/new-flag-copy.png") no-repeat 0 0;
}

.header-top-favorites::before {
	left: 13px;
	width: 14px;
	height: 16px;
	background: url("../img/icon-bookmark.svg") no-repeat;
}

.header-top-favorites:hover::before {
	left: 13px;
	width: 14px;
	height: 16px;
	background: url("../img/icon-bookmark.svg") no-repeat;
	opacity: 1.0;
}

.header-top-favorites:active::before {
	left: 13px;
	width: 14px;
	height: 16px;
	background: url("../img/icon-bookmark.svg") no-repeat;
	opacity: 0.6;
}

.header-top-cart-cat::before,
.header-top-cart::before {
	left: 14px;
	top: 0px;
	width: 15px;
	height: 15px;
	background: url("../img/icon-cart.svg") no-repeat;
}

.header-top-cart:hover::before {
	left: 14px;
	top: 0px;
	width: 15px;
	height: 15px;
	background: url("../img/icon-cart.svg") no-repeat;
	opacity: 1.0;
}

.header-top-cart-cat:active:before,
.header-top-cart-cat:hover:before {
	opacity: 1.0;
}

.header-top-cart-cat:active:before {
	opacity: 0.6;
}

.header-top-cart-cat::before {
	top: 11px;
}

.header-top-cart:active::before {
	left: 14px;
	top: 0px;
	width: 15px;
	height: 15px;
	background: url("../img/icon-cart.svg") no-repeat;
	opacity: 0.6;
}

.main-materials::before {
	width: 44px;
	height: 65px;
	left: 213px;
	top: 31px;
	background: url("../img/icon-1.svg") no-repeat;
}

.main-tools::before {
	width: 75px;
	height: 61px;
	left: 197px;
	top: 33px;
	background: url("../img/icon-2.svg") no-repeat;
}

.main-tech::before {
	width: 78px;
	height: 62px;
	left: 191px;
	top: 31px;
	background: url("../img/icon-3.svg") no-repeat;
}

.main-discounts::before {
	width: 59px;
	height: 72px;
	left: 196px;
	top: 26px;
	background: url("../img/icon-4.svg");
}

.main-shipping::before {
	width: 77px;
	height: 63px;
	left: 191px;
	top: 32px;
	background: url("../img/icon-5.svg");
}

.bigmap-popup {
	width: 940px;
	height: 446px;
	display: none;
	margin: 0 auto;
	background: url("../img/4.jpg");
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-popup-form {
	border-top: 7px solid #ee3643;
	width: 620px;
	display: none;
	position: relative;
}

.feedback-popup-form span {
	display: inline-block;
	margin: 0 0 9px;
}

.popup-close-btn {
	padding: 0;
	border: none;
}

.popup-close-btn::before {
	content: '';
	position: absolute;
	top: 15px;
	right: 15px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 20px;
	height: 5px;
	background: #ee3643;
	border: none;
}

.popup-close-btn::after {
	content: '';
	position: absolute;
	top: 15px;
	right: 15px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(45deg);
	width: 20px;
	height: 5px;
	background: #ee3643;
	border: none;
}

.popup-all-inputs {
	margin: 23px 80px 0;
}

.popup-input {
	display: flex;
}

.popup-input input {
	width: 200px;
	margin: 0 20px 17px 0;
	padding: 8px 2px 10px 8px;
	padding-left: 14px;
	font-size: 13px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	text-align: left;
	color: #999;
	background: #fff;
	border: 2px solid #999;
	border-radius: 5px;
}

.popup-textarea textarea {
	display: block;
	border-radius: 5px;
}

.popup-submit {
	padding: 37px 0;
	background: #f1f1f1;
}

.popup-submit input {
	display: block;
	width: 460px;
	margin: 0 auto;
	padding: 11px 50px 8px;
	font-size: 14px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: #ee3643;
	outline: none;
	border: none;
	border-radius: 5px;
}

.feedback-popup-form textarea {
	margin-bottom: 24px;
	padding: 5px 0 0 12px;
	font-size: 13px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	color: #a9a9a9;
	border: 3px solid #d7dcde;
	outline: 0;
}

.popup-addstuff-in-cart {
	border-top: 7px solid #ee3643;
	width: 620px;
	display: none;
	position: relative;
}

.popup-addstuff-in-cart h2 {
	display: inline-block;
}

.popup-addstuff-bottom {
	padding: 48px 0 46px;
	text-align: center;
	background: #f1f1f1;
}

.popup-addstuff-bottom a {
	width: 460px;
	padding: 11px 49px;
	margin-right: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
	background: #ee3643;
}

.popup-addstuff-bottom button {
	padding: 11px 49px;
	margin-right: 0px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	line-height: 18px;
	color: #000;
	background: #fff;
	border: 0;
}

.main-sorting {
	display: flex;
	align-items: center;
	padding-bottom: 12px;
	margin-top: -3px;
	width: 696px;
	background: #f7f3ec;
	border-radius: 3px;
}

.main-sorting span {
	height: 10px;
	position: relative;
	padding-left: 17px;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	text-transform: uppercase;
	font-family: "PT Sans", 'Tahoma', sans-serif;
}

.main-sorting ul {
	display: flex;
	margin: 0px;
	margin-top: 9px;
	list-style-type: none;
	padding-left: 141px;
}

.main-sorting li {
	position: relative;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

.sort-up {
	display: block;
	position: absolute;
	left: 66px;
	top: 5px;
	width: 20px;
	height: 20px;
	background: url("../img/icon-up-dir.png") no-repeat;
}

.sort-up:hover {
	background: url("../img/icon-up-dir.svg") no-repeat;
}

.sort-down {
	display: block;
	position: absolute;
	left: 97px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: url(../img/icon-down-dir.png) no-repeat;
}

.sort-down:hover {
	background: url(../img/icon-down-dir.svg) no-repeat;
}

.sort-price {
	color: rgba(0, 0, 0, 0.18);
	border-bottom: 1px dotted #ee3643;
	text-decoration: none;
	margin-right: 75px;
}

.sort-price,
.sort-type,
.sort-function {
	color: rgba(0, 0, 0, 0.18);
	border-bottom: 1px dotted #ee3643;
	text-decoration: none;
}

.sort-price:hover,
.sort-type:hover,
.sort-function:hover {
	color: #000;
	border-bottom: 1px solid #ee3643;
}

.sort-type {
	color: #ee3643;
	border: none;
	margin-right: 81px;
}

.form-sorting-price {
    position: relative;
    height: 80px;
    margin-bottom: 10px;
    padding: 0 30px;
    background: #f7f3ec;
    border-radius: 5px;
    overflow: hidden;
}

.f-s-p-up {
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}

.bar {
	height: 2px;
	background: #00ca74;
	width: 152px;
}

.form-max,
.form-min {
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background: #ababab;
	position: absolute;
	top: 30px;
	left: 30px;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.form-max {
	left: 167px;
}

.main-searching-menu {
	padding-right: 21px;
}

.main-searching-menu form {
	width: 220px;
}

.form-filter {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    background: #f7f3ec;
    padding-left: 19px;
    padding-right: 6px;
    padding-top: 7px;
    padding-bottom: 9px;
    margin: 0 0 13px;
}

.form-price {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	display: block;
	margin-bottom: 14px;
}

.form-price-control {
	margin-bottom: 13px;
}

.price-min,
.price-max {
	width: 84px;
    padding: 8px 5px 10px 8px;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", "Tahoma", sans-serif;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.form-firm {
	margin-bottom: 3px;
	margin-top: 12px;
}

.list-firm {
	margin-top: 16px;
	padding-left: 0px;
	list-style-type: none;
}

.list-firm label {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 35px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #000;
}

.list-firm input {
	display: none;
}

.list-firm label:before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: 0;
	background: url("../img/checkbox-off.png") no-repeat;
}

.list-firm label:hover:before {
	background: url("../img/checkbox-off-h.png") no-repeat;
}

.list-firm input[type=checkbox]:checked+label:hover:after {
	background: url("../img/checkbox-on-h.png") no-repeat;
}

.list-firm input[type=checkbox]:checked+label:after {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: 0;
	background: url("../img/checkbox-on.png") no-repeat;
}

.line {
	margin-bottom: 8px;
	border: 1px solid #e5e5e5;
	border-bottom-width: 0;
}

.form-supply {
	margin-bottom: px;
}

.list-supply {
	list-style-type: none;
	padding-left: 0px;
    margin-top: 13px;

}

.list-supply input {
	display: none;
}

.list-supply label {
	list-style-type: none;
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 34px;
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", "Tahoma", sans-serif;
	text-transform: uppercase;
	color: #000;
}

.list-supply label:before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: -1px;
	background: url("../img/radio-off.svg") no-repeat;
}

.list-supply label:hover:before {
	background: url("../img/radio-off-h.png") no-repeat;
}

.list-supply input[type=radio]:checked+label:after
{
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: -1px;
	background: url("../img/radio-on.svg") no-repeat;
}

.list-supply input[type=radio]:checked+label:hover:after {
	background: url("../img/radio-on-h.png") no-repeat;
}

.main-page-choose {
	margin-top: 37px;
	margin-bottom: 38px;
}

.main-page-choose ul {
	padding-left: 0px;
	display: flex;
	list-style-type: none;
	margin-bottom: 69px;
}

.main-page-choose a {
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;
}

.main-page-choose a:hover {
	border-color: #bdc6ca;
}

.main-page-choose a:active {
	border-color: #ee3643;
}

.m-page {
	margin-right: 8px;
	padding: 10px 17px;
	border: 1px solid #e5e5e5;
	color: #000000;
	text-transform: uppercase;
	border-radius: 5%;
}

.active {
	color: #ffffff;
	background: #ee3643;
	border-style: inset;
	border: none;
}

.m-page-next {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 31px;
	padding-right: 43px;
	border: 1px solid #e5e5e5;
	color: #000000;
	text-transform: uppercase;
	border-radius: 5%;
}

.footer-icon-vk {
	background: url("../img/vk-icon.svg") no-repeat 0 0;
	background-position-x: 8px;
	background-position-y: 13px;
}

.footer-icon-fb {
	background: url("../img/fb-icon.svg") no-repeat 0 0;
	background-position-x: 14px;
	background-position-y: 8px;
}

.footer-icon-inst {
	background: url("../img/insta-icon.svg") no-repeat 0 0;
	background-position-x: 11px;
	background-position-y: 9px;
}

.breadcrumbs-cat::before {
	position: absolute;
	left: -1px;
	top: 3px;
	content: "";
	width: 14px;
	height: 12px;
	background: url("../img/icon-home.svg");
}

.breadcrumbs-cat::after {
	position: absolute;
	left: 27px;
	top: 2px;
	content: "";
	width: 14px;
	height: 12px;
	background: url("../img/icon-right-small.svg")no-repeat 0 0;
}

.breadcrumbs-tools::after {
	position: absolute;
	left: 123px;
	top: 2px;
	content: "";
	width: 14px;
	height: 12px;
	background: url("../img/icon-right-small.svg")no-repeat 0 0;
}

.breadcrumbs-per::after {
	position: absolute;
	left: 243px;
	top: 2px;
	content: "";
	width: 14px;
	height: 12px;
	background: url("../img/icon-right-small.svg")no-repeat 0 0;
}

.icon {
	position: relative;
	display: inline-block;
	margin: 47px 32px 50px 80px;
	width: 66px;
	height: 66px;
	line-height: 42px;
	font-family: "Tahoma", sans-serif;
	vertical-align: middle;
	text-decoration: none;
	background: url("../img/form-1.png") no-repeat 0 0;
	border-radius: 50px;
}

.right-cat {
	margin-right: 0;
}

.icon-vk {
	padding-left: 41px;
}

.li-inst {
	padding-left: 3px;
}

.footer-company {
	margin-top: 17px;
}