
.visibility-hidden
{
	visibility:hidden;
}

body
{
		/*типографика*/
	font-family: 'Cuprum',sans-serif;
	font-size:17px;
		
		/*оформление*/
	background-color:#ffffff;
}

.header-page
{
	
}

.header-top
{
	height:42px;
	background-color:#293449;
}

.header-top-logo
{
	text-align:center;
	
	background-color:#ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-top a + span
{
	text-align:left;	
	background-image:url("img/icon-search.svg");
}

.header-top a
{
	color:#ffffff;
	text-decoration: none;
}


.header-top span
{
	color:#ffffff;
}

.header-top span:hover
{
	
}

.header-top span:active
{
	color:rgba(255, 255, 255, 0.6);
}


.header-top-favorites
{

}

.header-top-favorites:hover
{
	
}

.header-top-favorites:active
{
	color:rgba(255, 255, 255, 0.6);
}



.header-top-cart
{

}

.header-top-cart:hover
{
	
}

.header-top-cart:active
{
	color:rgba(255, 255, 255, 0.6);
}

.header-top-order  /* костыльное оформление заказа и неизвестный сдвиг вниз,убираемый паддингом */
{	
	background-color:#63a63e;
}

.header-top-order:hover
{
	background-color:#5fbb2d;
}

.header-top-order:active
{
	background-color:#518534;
	color:rgba(255, 255, 255, 0.5)
}


.header-middle-bottom
{
	background-color:#c3cbd2;
}

.header-middle-bottom>p
{
	margin:0px;
}

.header-txt
{
	width:190px;
}

.header-italic-text
{
	font-size:16px;
	
	color:#ee3643;
}

 /*write active and other*/
.header-contacts a
{
	
	font-size:21px;
	text-align:center;
	
	color:#ee3643;
	text-decoration: none;
	border:3px solid white;

}

.header-contacts-adress
{
	font-size:14px;
	
	color:#32425c;
}


.header-user-links
{
	list-style-type:none;
}


.header-user-links a
{
	color:#000000;
	text-decoration: none;
	background-color:#f4f7f9;
}

.header-user-links-sign
{
	
}

.header-user-links-sign:hover
{
	color:#ee3643;
}

.header-user-links-sign:active
{
	color:rgba(0, 0, 0, 0.3);
}

.header-user-links-reg
{

}

.header-user-links-reg:hover
{
	color:#ee3643;
}

.header-user-links-reg:active
{
	color:rgba(0, 0, 0, 0.3);
}

.header-user-options a
{
	color:#000000;
	background-color:#ffffff;
	text-decoration:none;
}

.header-user-options a:hover
{
	
}

.header-user-options a:active
{
	color:rgba(0, 0, 0, 0.3);
}

.header-user-buttons li
{
	list-style:none;
}

.header-user-buttons a
{
	font-size:16px;
	
	color:#32425c;
	list-style:none;
}

.header-user-buttons a:hover
{
	color:#ee3643;
}

.header-user-buttons a:active
{
	color:rgba(50, 66, 92, 0.3);
}

.header-navigation-links
{
	list-style-type:none;
}

.header-navigation-links a
{

}

.header-navigation-links a  /* временное определение кнопок меню */
{	
	
	text-align:center;
	
	background-color:#32425c;
	box-shadow: inset 0px -5px 0 0 #293449;
}

.header-navigation-links a:hover
{
	background-color:#293449;
}

.header-navigation-links a:focus
{
	background-color:#293449;
}

.header-navigation-links a:active
{	
	color: rgba(255, 255, 255, 0.5); 
	background-color:#293449;
}



.header-navigation-links a
{
	color:#ffffff;
	text-decoration: none;
}

.footer-top
{
	background-color:#32425c;
}

/*catalog styles begin*/

.main-breadcrumbs li
{
	font-family: 'PT Sans', sans-serif;
	font-size:13px;
	
	list-style:none;
}

.main-catalog-full h2
{
	font-size:30px;
	
	background-color:#f2f6f8;
}

.main-searching-menu
{
	font-family:'PT Sans' , sans-serif;
}

.main-searching-menu b
{
	font-weight:700;
}

.main-searching-menu label
{
	font-weight:400;
	font-size:15px;
}


.main-products
{
	font-family:'PT Sans' , sans-serif;
	list-style:none;
}

.main-products li:hover /* заготовка под анимацию */
{
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-products h3
{
	font-weight:700;
	font-size:18px;
}

.main-products del
{
	color:#999999;
	
}

.main-products a
{
	color:#ffffff;
	text-decoration:none;
	
	background-color:#ee3643;
	/* не получилось фон сделать ,пока только цвет */

}

/*catalog styles end*/

.footer-bottom
{
	background-color:#293449;
}

.footer-info
{
	font-size:18px;
	
	color:#ffffff;
}

.footer-contacts span
{
	font-size:30px;
	text-align:center;
	font-style: normal;
	
	color:#ffffff;
	background-color:#ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-navigation-links
{
	list-style-type:none;
}

.footer-navigation-links a
{
	font-size:18px;
	
	color:white;
	text-decoration: none;
}

.footer-navigation-links a:hover
{
	text-decoration:underline;
}

.footer-navigation-links a:active
{
	text-decoration: none;
	color:rgba(241, 245, 247, 0.5);
}

.footer-navigation-goods
{
	margin-bottom:-17px;   /* убирание разьединения блоков */
	padding-bottom:17px;
	
	list-style-type:none;
}

.footer-navigation-goods a
{
	font-size:18px;
	
	color:#ffd180;
	text-decoration: none;
}

.footer-navigation-goods a:hover
{
	text-decoration:underline;
}

.footer-navigation-goods a:active
{
	text-decoration: none;
	color:rgba(255, 209, 128, 0.5)
}

.footer-socialmedia
{
	list-style:none;
}

.footer-copyright p
{
	color:#ffffff;
}

.footer-production dt
{
	color:#ffffff;
}

.footer-production a
{
	color:#ffd180;
	text-decoration:none;
}

.footer-production a:hover
{
	text-decoration:underline;
}

.footer-production a:active
{
	text-decoration:none;
	color:#ee3643;
}

.footer-soc-links
{
	padding:10px; /* прикинутый паддинг для вида ховера и актива */
	
	background-color:#212a3a;
	border-radius:25px;
}

.footer-soc-links:hover
{
	background-color:#ee3643;
}